/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: rgba(248,248,248,255);*/
    background: url("../images/delvery2.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
