<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
    <!--Staging Connection String-->
    <add name="GMAN" connectionString="server=CSESQL2;database=MIS;uid=GReader;pwd=ugadayka;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>
    <add name="RAP" connectionString="server=AFS-SW-SQAPP01.pcmall.com;database=RAP;uid=stgusrprod;pwd=LUc3Hr8mVk;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>
    <add name="CC_PRODUCT" connectionString="server=AFS-SW-SQWP01.pcmall.com;database=cc_product;uid=stgusrprod;pwd=LUc3Hr8mVk;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>

    <!--Default Connection String  fgfdg  TESTES CARL CARABAO-->
    <!--<add name="Gman" connectionString="server=CSESQL2;database=MIS;uid=GReader;pwd=ugadayka;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Rap" connectionString="server=storsqldev01;database=RAP;uid=devusrprod;pwd=DevSeqlU$e;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Rap" connectionString="server=hqjobs1;database=RAP;uid=cc_siteserver;pwd=bolehs;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Cc_product" connectionString="server=10.241.3.91;database=cc_product;uid=cc_siteserver;pwd=bolehs;Min Pool Size=5;Max Pool Size=100" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>